@{
    ViewData["Title"] = "Home > View Documents";
}

<div class="row">
    <div class="titlepage headtitle">
        @ViewData["Title"]
    </div>
</div>

<ul class="nav nav-tabs" id="DocumentTabHeader" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="PI-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="true" onclick="updateActiveMenu('View Documents','viewDocs','PIContainerNo');handleDocumentTabClicked('PI Container No')">PI Container No</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="true" onclick="updateActiveMenu('View Documents','viewDocs','ConsRefNumber');handleDocumentTabClicked('Consignment reference number')"> Consignment reference number </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="Customs-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false" onclick="updateActiveMenu('View Documents','viewDocs','PiPalletNumber');handleDocumentTabClicked('PI pallet number')">PI pallet number</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="Category1-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false" onclick="updateActiveMenu('View Documents','viewDocs','Category1');handleDocumentTabClicked('VD Cat1')">Category 1</button>
    </li>



</ul>

@*tab contents*@
<div class="tab-content" id="myTabContent">

    @*tab4*@
    <div class="tab-pane fade show active" id="tab4" role="tabpanel" aria-labelledby="PI-tab">

        <div class="row">


            <div class="col-md-4 col-xs-12 pdfFiles-section">
                <div class="col-12 row" id="filesDropdownCotainer">
                </div>

                <input type="text" class="defaultInput" name="Search" placeholder="Search..." maxlength="250" value="">

                <div class="pdfFiles-container">


                </div>

            </div>

            <div class="col-md-8 col-xs-12 pdfViewer-section" id="pdf-render">
                <embed id="embedPDF" src="~/eu_projects/planet/assets/sample1.pdf" width="100%" height="100%" />
            </div>

            <div class="col-md-8 col-xs-12 pdfViewer-section" id="excel-render" style="display:none">
            </div>

            <div class="col-md-8 col-xs-12 pdfViewer-section" id="json-render" style="display:none">
                <pre class="prettyprint" id="json-content">
                </pre>
            </div>
        </div>        

    </div>


   
</div>

