@{
    ViewData["Title"] = "5G ERA - Portal";

}
<div class="row">
    <div class="col-12 titlepage headtitle">
        @ViewData["Title"]
    </div>
</div>

<div class="experimentresults_data_area">
    <div class="col-sm-12 table_class">
        <div class="row tablemain2">

            <div class="experimentresultsevaluation_table">
                <iframe src="https://ip-test.dev.bringauto.com/login" title="5G ERA" width="1500" height="820"></iframe>
            </div>
        </div>
    </div>
</div>



