


  /*------------------------------- Data_Bri-x__(__db__)---------------------------------------------------*/



.titlepage {
    text-align: center;
    padding: 25px;
    max-width: 96%;
    margin-left: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

.headtitle {
    font-weight: bold;
    font-size: 24px;
    /*color: #0f1c3d;*/
    color: #0115E9;
    font-family: Montserrat;
    text-align: left;
    padding: 0;
    /*margin-bottom: 40px;*/
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    width: 100%;
    margin-left: 26px;
}


.dbcards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dbcard {
    margin: 30px auto;
    width: 350px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: 0.4s;
    background-color: #F8CC2B;
}

.dbcard .dbcard_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 90px;
    height: 40px;
}

.dbf {
    color: #FFF;
    text-shadow: 2.5px 2.5px rgba(0,0,0,0.25);
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.dbcard:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.dbtitle-white {
    font-size: 50px;
    color: white;
}

.dbtitle-black {
    font-size: 50px; 
    color: black;
}
.dbgraph {
    background: #fff;
    padding: 0 4px;
    padding-top: 4px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.chart--container {
    height: 200px;
    width: 270px;
}

.dbcontainer {
    padding-top: 18px;
}
.navbar-menu-wrapper {
    padding-left: 100px;
}

.navbar .navbar-menu-wrapper {
    background: #F8CC2B !important;  
}

.nav-menu ul li a:before {
    background-color: #0c6e55 !important;
}

.sidebar {
    background-color: #0115E9 !important;
    min-width: 260px !important;
    max-width: 260px !important;
}

.sidebar .nav .nav-item.active > a {
    color: #F8CC2B !important;
    font-weight: bolder;
}


.sidebar .nav .nav-item:not(:nth-child(2)).active .sub-menu .nav-link {
    color: #0c6e55;
}

.nav-menu ul li a:before {
    background-color: #F8CC2B !important;
}

.nav-menu ul li.active a {
    color: black !important;
    font-weight: bold;
    background-color: #F8CC2B !important
}





@media all and (max-width: 500px) {
    .dbcard-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

