@{
    ViewData["Title"] = "Home > Forecasts > Predictive Transport Models";
}

<div class="row header-section">
    <div class="titlepage headtitle">
        @ViewData["Title"]
    </div>

    @*<div id="gird-settings">
    </div>*@

</div>

<div class="row" style="margin: 5px; width:100%">
    <div class="col-6" id="ptm_data_left_block"></div>
    <div class="col-6" id="ptm_data_right_block"></div>
</div>
