@{
    ViewData["Title"] = "Home > EGTN - Infrastructure Observatory";
}

<div class="row">
    <div class="titlepage headtitle">
        @ViewData["Title"]
    </div>
</div>



<ul id="egtn_infrastructure_grid_card" class="square-menu">

    <br style="clear: both;"/>
</ul>
