@{
ViewData["Title"] = "Home > Forecasts";
}

<div class="row">
    <div class="titlepage headtitle">
        @ViewData["Title"]
    </div>
</div>



<ul id="forecasts_grid_card" class="square-menu">

    <br style="clear: both;"/>
</ul>
