@{
    ViewData["Title"] = "Planet - Nodes";
}
<div class="row">
    <div class="titlepage headtitle">
        @ViewData["Title"]
    </div>
</div>

<div class="row">
    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div id="routeNodeGraph1" class="graphStyle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div id="routeNodeGraph2" class="graphStyle">
            </div>
        </div>
    </div>

</div>
