@{
    ViewData["Title"] = "Home > Other";
}

<div class="row">
    <div class="titlepage headtitle">
        @ViewData["Title"]
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Simulation</button>
    </li>

</ul>

@*tab contents*@
<div class="tab-content" id="myTabContent">

    @*tab1*@
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">


        <div class="row">
            <div class="col-xl-12 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="SimulationDropdown row">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 stretch-card grid-margin SimulationTablearea" style="display:none">
            <div class="card">
                <div class="table-responsive col-12">
                    <table id="Simulation-Table">
                    </table>
                </div>
            </div>
        </div>

        @*charts*@
        <div class="col-xl-12 stretch-card grid-margin simu-chart" id="simu-chart">


        </div>
    </div>


    @*tab2*@
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">
    </div>


</div>


