@{
    ViewData["Title"] = "Home > View Documents";
}

<div class="row">
    <div class="titlepage headtitle">
        @ViewData["Title"]
    </div>
</div>

<ul id="view_doc_grid_card" class="square-menu">
    <br style="clear:both;"/>
</ul>
