@{
    ViewData["Title"] = "Home > EGTN - Logistics Information > Political";
}

<div class="row">
    <div class="titlepage headtitle">
        @ViewData["Title"]
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">T&L</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">State Agreements</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Free Trade zones classifications</button>
  </li>
  

</ul>

@*tab contents*@
<div class="tab-content" id="myTabContent">

    @*tab1*@
  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">

    
            <div class="row">
                
                
                <div class="col-md-4 col-xs-12 pdfFiles-section">
                    <div class="col-12 row" id="filesDropdownCotainer">
                
                    </div>

                    <input type="text" class="defaultInput" name="Search" placeholder="Search..." maxlength="250" value="" >
        
                    <div class="pdfFiles-container">
            
                        <div class="pdfFiles" >
                            <div class="pdfFilesInfo" onclick="selectPDFFile('EGTNL-regulatory//General Terms andConditions for EurAsian carriage Rail_ ECE-TRANS-SC2-2015-id07e.pdf')">
                                <i class="fa-solid fa-file-pdf"></i>
                                General Terms andConditions for EurAsian carriage Rail_ ECE-TRANS-SC2-2015-id07e
                                @*<div class="top-bot-info">
                                    <span>File Name</span>
                                    <p>Author</p>
                                </div>*@
                            </div>
                
                            <div class="pdfFilesInfo-end">
                                @*<div><i class="fa-solid fa-caret-down"></i></div>
                                <div>01/01/2001</div>*@
                            </div>

                        </div>
            
                        <!---<div class="pdfFiles">
                            <div class="pdfFilesInfo"  onclick="selectPDFFile('sample2.pdf')">
                                <i class="fa-solid fa-file-pdf"></i>
                                Sample2
                                @*<div class="top-bot-info">
                                    <span>File Name</span>
                                    <p>Author</p>
                                </div>*@
                            </div>
                
                            <div class="pdfFilesInfo-end">
                                <div><i class="fa-solid fa-caret-down"></i></div>
                                <div>01/01/2001</div>
                            </div>

                        </div>

                        
                        <div class="pdfFiles">
                            <div class="pdfFilesInfo"  onclick="selectExcelFile('sample3.xls')">
                                <i class="fa-solid fa-file-excel"></i>
                                Sample3
                                @*<div class="top-bot-info">
                                    <span>File Name</span>
                                    <p>Author</p>
                                </div>*@
                            </div>
                
                            <div class="pdfFilesInfo-end">
                                <div><i class="fa-solid fa-caret-down"></i></div>
                                <div>01/01/2001</div>
                            </div>

                        </div>

                        
                        <div class="pdfFiles">
                            <div class="pdfFilesInfo"  onclick="selectExcelFile('sample4.xlsx')">
                                <i class="fa-solid fa-file-excel"></i>
                                Sample4
                                @*<div class="top-bot-info">
                                    <span>File Name</span>
                                    <p>Author</p>
                                </div>*@
                            </div>
                
                            <div class="pdfFilesInfo-end">
                                <div><i class="fa-solid fa-caret-down"></i></div>
                                <div>01/01/2001</div>
                            </div>

                        </div>--->

                    </div>

                </div>

                <div class="col-md-8 col-xs-12 pdfViewer-section" id="pdf-render">
                    <embed id="embedPDF" src="~/eu_projects/planet/assets/EGTNL-regulatory/General Terms andConditions for EurAsian carriage Rail_ ECE-TRANS-SC2-2015-id07e.pdf" width="100%" height="100%"/>
                </div>
    
                <div class="col-md-8 col-xs-12 pdfViewer-section" id="excel-render" style="display:none">

                </div>
            </div>     

   </div>


      @*tab2*@
  <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">

  </div>

      @*tab3*@
  <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="contact-tab">...</div>

</div>



